<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Home Machacas</title>
    <link rel="stylesheet" href="/app/styles.css"> <!-- enlazamos el CSS externo -->
</head>
<body>
    <header>
        <h1>Bienvenido a la base de datos de videojuegos de los Machacas</h1>
        <p>Aquí podrás encontrar toda la información acerca de tus juegos preferidos</p>
    </header>
    <main>
        <p>A continuación tienes las distintas funcionalidades que puedes utilizar:</p>
        <ul>
            <li><a href="/register">Registrarse</a></li>
            <li><a href="/login">Iniciar sesión</a></li>
            <li><a href="/items">Ver todos los videojuegos</a></li>
            <li><a href="/add_item">Añadir un nuevo videojuego</a></li>
        </ul>
    </main>
</body>
</html>
