<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Listado de Juegos - MachacasDB</title>
    <link rel="stylesheet" href="/app/styles.css">
    <script src="/app/js/utils.js"></script>
    <script src="/app/js/listaVideojuegos.js" defer></script>
</head>

<body>
    <header class="site-header">
        <h1>🕹️ Listado de videojuegos</h1>
        <div class="header-right" id="userArea">
            <!-- Aquí se insertará el círculo del usuario si está logueado -->
        </div>
    </header>
    <main class="container">

        <table id="tabla-juegos">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Fecha de Lanzamiento</th>
                    <th>Precio Salida</th>
                    <th>Puntuacion en Metacritic</th>
                    <th>Acciones</th>

                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <button id="addGame" type="button" onclick="window.location.href='/add_item'">
            ➕ Añadir juego
        </button>
    </main>

    <footer class="footer">Desarrollado por: Alex Isasi, Iker Ciordia, Liviu Deleanu, Jon Requies y Eder Torres
    </footer>
</body>

</html>