<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Login - MachacasDB</title>
    <link rel="stylesheet" href="/app/styles.css">
    <script src="/app/js/login.js" defer></script>
</head>

<body>
    <header class="site-header">
        <h1>🔑 Iniciar sesión</h1>
    </header>
    <main class="container">
        <form id="login_form" onsubmit="submitForm(this); return false;">
            <label>Email:</label>
            <input type="text" name="email" placeholder="Introduce tu email">

            <label>Contraseña:</label>
            <input type="password" name="password" placeholder="Introduce tu contraseña">

            <button type="submit">Iniciar sesión</button>
        </form>
        <p>¿No tienes cuenta? <a href="/register">Regístrate aquí</a></p>
    </main>

    <footer class="footer">Desarrollado por: Alex Isasi, Iker Ciordia, Liviu Deleanu, Jon Requies y Eder Torres</footer>
</body>

</html>