<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/app/js/utils.js"></script>

    <script src="/app/js/modifyGame.js" defer></script>
    <link rel="stylesheet" href="/app/styles.css" />
    <title>Modificar Juego - MachacasDB</title>
  </head>

  <body>
    <header class="site-header">
      <h1>🎮 Modificar juego</h1>

        <div class="header-right" id="userArea">
            <!-- Aquí se insertará el círculo del usuario si está logueado -->
        </div>
    </header>
    <main class="container">

      <form id="item_modify_form">
        <label>Nombre:</label>
        <input name="nombre" type="text" placeholder="Nombre del juego" />

        <label>Género:</label>
        <input name="genero" type="text" placeholder="Ej: Sandbox, RPG..." />

        <label>Fecha de lanzamiento:</label>
        <input name="fechaLanzamiento" type="text" placeholder="aaaa-mm-dd" />

        <label>Precio de salida (€):</label>
        <input name="precioSalida" type="text" placeholder="19.99" />

        <label>Nota Metacritic:</label>
        <input
          name="notaMetacritic"
          type="text"
          placeholder="Ej: 9 (Max 10; Min 0)"
        />

        <button id="item_modify_submit" type="submit">💾 Modificar juego</button>
      </form>
    </main>

    <footer class="footer">
      Desarrollado por: Alex Isasi, Iker Ciordia, Liviu Deleanu, Jon Requies y
      Eder Torres
    </footer>
  </body>
</html>