<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalle del usuario - MachacasDB</title>
    <link rel="stylesheet" href="/app/styles.css">
    <script src="/app/js/userDetails.js" defer></script>
</head>
<body>
    <header class="site-header">
        <h1>👤 Detalle del usuario</h1>

        <div class="header-right" id="userArea">
            <!-- Aquí se insertará el círculo del usuario si está logueado -->
        </div>
    </header>

    <main class="container">
        <div class="user-card" id="user-detail">
            <!-- Se llenará dinámicamente con JS -->
        </div>
    </main>

    <footer class="footer">
        Desarrollado por: Alex Isasi, Iker Ciordia, Liviu Deleanu, Jon Requies y Eder Torres
    </footer>
</body>
</html>
